.container {
    display: flex;
    height: 100%;
    border-radius: 15px;
}

.siderSignup {
    width: 35%;
    background-color: var(--ternary-color);
    opacity: 85%;
    border-radius: 15px 0 0 15px;
    text-align: start;
    line-height: 2em;
    padding: 3em;
}

.formSignup {
    width: 65%;
    background-color: white;
    border-radius: 0 15px 15px 0;
    padding: 0 2em;

    display: flex;
    flex-direction: column;
    justify-content: start;
    
    height: 100%;
    overflow-y: auto;
}

.formItem {
    margin-bottom: 3em;
}

.signupButton {
    width: 100%;
    padding: 1.25em;
    letter-spacing: 1px;
    color: white;
    background-color: #282828;
}

.signupButton:hover {
    /* background-color: #282828 !important; */
    background-color: var(--secondary-color) !important;
    opacity: .8;
    border: 1px solid transparent !important;
    color: var(--primary-sec-color) !important;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.siderForm {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: start;
}

.siderContainer {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.isSelected {
    background-color: #383838 !important;
    color: var(--ternary-color) !important;
    border: none;
}

.button:hover, .isSelected:hover {
    color: var(--secondary-color) !important;
}

.error {
    color: red;
}