
.signupButton {
    width: 100%;
    padding: 1.25em;
    letter-spacing: 1px;
    color: white;
    background-color: var(--secondary-color);
    border: none;
}

.signupButton:hover {
    background-color: var(--secondary-color) !important;
    color: var(--primary-sec-color) !important;
}